spring:
  application:
    name: driver-microservice
  datasource:
    url: 'jdbc:h2:mem:driverdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    compatibility-verifier:
      enabled: false
  eureka:
    client:
      service-url:
        defaultZone: 'http://localhost:8761/eureka/'


server:
  port: 8889

management:
  endpoints:
    web:
      exposure:
        include: '*'
